@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;0,700;0,800;0,900;1,200;1,400;1,600;1,700;1,800;1,900&display=swap");
/* CSS reset until line 50 */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Raleway", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
  height: 55px;
}
nav h1 .homeLink {
  color: white;
  font-synthesis: none;
  font-weight: 800;
  text-decoration: none;
  display: flex;
  align-items: center;
}
nav h1 .homeLink .icon {
  font-size: 3rem;
  margin: 0 0.5rem;
}

.search {
  display: flex;
  align-items: center;
}
.search input {
  height: 29px;
  border-radius: 10px;
  margin-right: 0.25rem;
}
.search button {
  background-color: black;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.search button:hover {
  color: black;
  background-color: white;
}
.search button .icon {
  font-size: 1rem;
}

.landing {
  width: 100%;
  height: 100vh;
  background-color: rgb(219, 220, 221);
}
.landing .main_content {
  height: 33vh;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.landing .main_content h1 {
  font-size: 4rem;
  margin-bottom: 2vh;
}
.landing .main_content p {
  font-size: 1.5rem;
  margin-bottom: 1vh;
}
.landing .carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67vh;
}
.landing .carousel article {
  box-shadow: 1px 1px lightgrey;
  border-radius: 15px;
  width: 5rem;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0.5rem;
  background-color: white;
  transition: ease-in-out 1s;
}
.landing .carousel article h1 {
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.landing .carousel article p {
  height: 70%;
  padding: 1rem;
  display: none;
  overflow: hidden;
}
.landing .carousel .active {
  width: 40vw;
  justify-content: flex-end;
  transition: ease 1s;
}
.landing .carousel .active h1 {
  width: 5rem;
}
.landing .carousel .active p {
  display: block;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  background-color: rgb(26, 24, 24);
}
footer section {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
footer section article {
  margin: 2rem;
}
footer section .contact {
  width: 50%;
}
footer section .contact a {
  color: lightgray;
}
footer section .contact a:hover {
  color: dodgerblue;
}
footer section .links {
  width: 30%;
}
footer section .links li a {
  text-decoration: none;
  color: white;
}
footer section .links li a:hover {
  color: dodgerblue;
}
footer small {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
footer small .copyIcon {
  margin-right: 0.3rem;
}

/*# sourceMappingURL=index.css.map */
